/* ---------- Import Google Fonts ---------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=wrap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203A9, #56BFF3);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.age-calculator {
    width: 100%;
    max-width: 600px;
    margin-bottom: 100px;
    line-height: 60px;
}
.age-calculator h1 {
    font-size: 60px;
    margin-bottom: 15px;
}
.age-calculator h1 span {
    color: #E5FF00;
}
.input-box {
    display: flex;
    align-items: center;
    padding: 35px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin: 20px 0;
}
.input-box input {
    position: relative;
    flex: 1;
    margin-right: 15px;
    height: 53px;
    padding-left: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
}
.input-box input::-webkit-calendar-picker-indicator {
    position: absolute;
    inset: 0;
    width: auto;
    height: auto;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
.input-box button {
    background: #E5FF00;
    border: none;
    outline: none;
    padding: 18px 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}
#result {
    font-size: 18px;
}
#resut span {
    color: #E5FF00;
    font-size: 20px;
    font-weight: bold;
}
::selection {
    background: #E5FF00;
    color: #272626;
}

/* ---------- Responsive ---------- */
@media only screen and (max-width: 600px) {
    .age-calculator {
        margin-bottom: 20px;
        padding-inline: 10px;
    }
    .age-calculator h1 {
        font-size: 35px;
    }
    .input-box {
        padding: 10px;
        border-radius: 15px;
        margin: 15px 0;
    }
    .input-box input {
        height: 45px;
        margin-right: 10px;
        font-size: 15px;
    }
    .input-box input::-webkit-calendar-picker-indicator {
        background-size: 20px;
    }
    .input-box button {
        padding: 13px 10px;
        font-size: 14px;
    }
    #result {
        font-size: 14px;
    }
    #result span {
        font-size: 16px;
    }
}